  <?xml version="1.0"?>
  <model>
    <name>navcore</name>
    <version>1.0</version>
    <sdf>urdf/navcore.urdf</sdf>
    <author>
      <name>Elisabetta Cataldi</name>
      <email>cataldi.e@gmail.com</email>
    </author>
    <description>
      A description of the model
    </description>
  </model>